<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.xpek.qrScannerPlugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>qrScannerPlugin</name><js-module name="qrScannerPlugin" src="www/qrScannerPlugin.js"><clobbers target="cordova.plugins.qrScannerPlugin" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="qrScannerPlugin"><param name="android-package" value="com.xpek.qrScannerPlugin.qrScannerPlugin" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/qrScannerPlugin.java" target-dir="src/com/xpek/qrScannerPlugin/qrScannerPlugin" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="qrScannerPlugin"><param name="ios-package" value="qrScannerPlugin" /></feature></config-file><source-file src="src/ios/qrScannerPlugin.m" /></platform></plugin>